/** {*/
/*    margin: 0;*/
/*    padding: 0;*/
/*    box-sizing: border-box;*/
/*}*/

body {
    font-size: 20px;
    line-height: 25px;
}

a {
    text-decoration: none;
}

.nav {
    display: flex;
    justify-content: space-around;
}

button {
    border: 0;
    outline: 0;
    cursor: pointer;
}

li {
    list-style-type: none;
    margin-bottom: 30px;
}

.container {
    width: 30%;
    margin: 0 auto;
}

.button {
    background-color: rgba(255, 0, 0, .6);
    padding: 10px;
    color: #FFFFFF;
    border-radius: 10px;
    font-weight: bold;
}

.add_cart_button {
    background-color: rgba(0, 0, 255, .6);
}

.remove_cart_button {
    background-color: rgba(255, 0, 0, .6);
}

.show_button {
    display: block;
}

.hide_button {
    display: none;
}

.list_item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.list_item > div:not(:last-child) {
    margin-right: 25px;
}

main {
    max-width: 1000px;
    margin: 0 auto;
}

.description {
    max-width: 800px;
}

.buttons {
    display: flex;
    min-width: 200px;
}

.list_item:nth-child(odd) {
    background-color: rgba(192, 192, 192, .8);
    border-radius: 10px;
    padding: 10px;
    word-wrap: break-word;
}

.list_item:nth-child(even) {
    border-radius: 10px;
    border: 1px solid #000000;
    padding: 10px;
    word-wrap: break-word;
}


.list_item div:not(:last-child) {
    margin-bottom: 10px;
}

.list_item div:nth-child(:last-child) {
    margin-bottom: 25px;
}

.label_element {
    font-weight: bold;
    margin-right: 10px;
}

.image {
    width: 130px;
    height: 130px;
}

.ul_nav ul {
    display: flex;
    justify-content: space-between;
    max-width: 1000px;
}

.ul_nav ul li {
    width: 200px;
}

.ul_nav ul li:not(:last-child) {
    margin-right: 15px;
}

.cart {
    width: 50px;
}

.cart_count {
    color: #ff0000;
}

.total {
    font-weight: bold;
    color: red;
}

.points,
.total {
    width: 30px;
    margin-right: 10px;
}