@media (max-width: 1152px) {
    .container {
        /*background: palegoldenrod;*/
    }
}

@media (max-width: 1024px) {
    .container {
        /*background: grey;*/
    }
}


@media (max-width: 995px) {
    .container {
        /*background: grey;*/
    }

    .help-support-flex {
        display: flex;
        justify-content: center;
        text-align: center;
    }

    .help-support h2 {
        text-align: center;

    }

    .help-support-flex-end {
        justify-content: center;
        text-align: center;
    }

    .catalog-header, .header, .catalog, .categories, .contacts, .product, .slider {
        margin-bottom: 30px;
    }

    .help-support {
        margin: 10px 0;
    }

    .quote-single {
        padding: 50px;
    }

    .footer h2, .visa-card {
        padding: 15px 0;
    }
}

@media (max-width: 991px) {
    .container {
        /*background: blue;*/
    }


    .product-info {
        text-align: center;
    }

    img.product-img {
        width: 250px;
        height: 350px;
        margin-bottom: 20px;
    }

    .product-rating {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .pricing-rate {
        margin-bottom: 15px;

    }

    .product-cart-area {
        width: 50%;
        min-width: 450px;
    }
}

@media (max-width: 800px) {
    .container {
        /*background: yellow;*/
    }

    .slider,
    .quote {
        display: none;
    }
}

@media (max-width: 768px) {
    .container {
        /*background: red;*/
    }

    .account-card-area {
        text-align: center;
    }

    .single-image:hover h2 {
        transform: none;
    }

    .men, .jewelery, .electronics, .women {
        background-image: none;
        background-color: rgba(0, 0, 0, .8);
        height: 220px;
    }

    .shop-collection a {
        right: 0;
    }
}

@media (max-width: 485px) {
    .product-cart-area {
        width: 100%;
        min-width: 290px;
    }
}

@media (max-width: 425px) {
    .container {
        /*background: deepskyblue;*/
    }

    .visa-img {
        background: none;
        height: 0;
    }

    .visa-card {
        padding: 0;
    }

    .help-support {
        margin-bottom: 0;
    }

    .footer a {
        margin: 0;
    }
}

@media (max-width: 375px) {
    .container {
        /*background: none;*/
    }
}

@media (max-width: 320px) {
    .container {
        /*background: yellowgreen;*/
    }
}